body{
    background-color: lightgray;
}
#titulo{
    background-color: lightseagreen;
    color: white;
    height: 100px;
    text-align: center; 
    font-size: 50px; 
    padding: auto;
}

#tabla{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
}
td {
    width: 150px; 
    height: 150px; 
    text-align: center; 
    vertical-align: middle; 
    border: 5px solid black; 
    font-size: 100px; 
}
  
.X {
    color: red; 
}
  
.O {
    color: blue; 
}
  